<div class="container">
    <h1>Hola Mundo Tipo Test</h1>
    {{NombreCompleto}}
    <ul>
        {{#each Items}}
            <li>
                {{itemLabel}}
            </li>
        {{/each}}
    </ul>
</div>
